.tank {
    position: absolute;
    width: 32px; /* Ajusta según el tamaño de la imagen */
    height: 32px; /* Ajusta según el tamaño de la imagen */
}

.tank-image {
    width: 100%;
    height: 100%;
}